@import "~bootstrap/scss/bootstrap";

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #5C636A;
    border-color: #5C636A;
}

.page-link,
.page-link:hover {
    color: #5C636A;
}

.create {
   height: 2.5em !important;
}